@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
/* Global styling */
html{
  scroll-behavior:smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-family: "Syne", sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-weight: 800;
}
.syne{
  font-weight: 800;
  font-optical-sizing: auto;
  font-size: 4rem;
  font-style: normal;
  text-transform: uppercase;
}
@media(width>980px){
  .overlay_effect{
    mix-blend-mode:exclusion;
  }
}
.heading{
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.rotating_box{
  position: absolute;
  z-index: 1;
  height: 100px;
  width: 100px;
  background: transparent;
  border: 1px solid white;
}
.outline_text{
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
}
.char{
  transform: translateY(115px);
  opacity: 0;
}
.intro{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.intro_title{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.intro_img{
  height: 100%;
  width: 100vw;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
.intro_img img{
  height: 100%;
  width: 43vw;
  transform: translateX(600px);
}
.bottom_text{
  background-color: #171717;
  color: #9E9E9E;
  width: 100vw;
  height: 8vh;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  top: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_text-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateX(-500px);
}
.txt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.star{
  height: 28px;
  width: 28px;
}

.about{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 30vh;
}
.about_img{
height: 100%;
width: 50vw;
overflow: hidden;
transform: translateY(350px);
}
.about_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about_text{
  transform: translate(100px, 150px);
  width: 500px;
}
#about_rotating_box{
  transform: translate(300px, -100px);
}
.about_body{
  font-weight: 800;
  color: #4B4B4B;
}
/* styling for benefits section*/
.benefits{
  height: 100vh;
  width: 100vw;
  margin-top: 30vh;
  margin-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#benefits_rotating_box{
  transform: translate(50px, -300px);
}
.benefits_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 40px;
  margin-right: 40px;
}
.benefit_head{
  font-size: 4em;
  transform: translateX(100px);
}
.benefit_body{
  color: #4B4B4B;
}
/* styling for portfolio section*/
.portfolio{
  padding-top: 800px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portfolio_rotating_box{
  transform: translate(0,-750px);
}
.portfolio_grid{
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:110px;
}
.portfolio_head{
  z-index: 1;
  position: absolute;
  font-size: 4em;
  transform: translate(-130px, -150px);
}
.portfolio_item{
  height: 100vh;
  width: 40vw;
  overflow: hidden;
  z-index: -1;
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.portfolio_item img{
  scale: 1.3;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
/* styling for services section */
.services{
  margin-top: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services_rotating_box{
  transform: translateX(250px);
}
.services_list{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 95%;
  color: #4B4B4B;

}
.services_item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  padding-bottom: 10px;
  padding-top: 25px;
  border-bottom: 1px solid #4B4B4B;
}
.arrow_img{
  display: block;
  transform: rotate(45deg);
  height: 82px;
  width: 82px;
  z-index: 1;
}
/* individual styling for each arrow to start from particular position */
#arrow1{
  transform: translate3d(-380px, -10px, 0);
}
#arrow2{
  transform: translate3d(-520px, -10px, 0);
}
#arrow3{
  transform: translate3d(-550px, -10px, 0);
}
#arrow4{
  transform: translate3d(-470px, -10px, 0);
}
/* styling for ending section */
.ending{
  height: 100vh;
  width: 100vw;
  padding: 0%;
  display: grid;
  place-content: center;
  letter-spacing: 35px;
}
.ending h1{
  margin: 0;
}
.ending .char{
  transform: translateY(0px);
}
/* Style for each character */
#char0{
  transform: translateY(-50px);
  opacity: 0;
}
#char1{
  transform: translateY(50px);
  opacity: 0;
}
#char2{
  transform: translateY(20px);
  opacity: 0;
}
#char3{
  transform: translateY(-80px);
  opacity: 0;
}
#char4{
  transform: translateY(20px);
  opacity: 0;
}
#char5{
  transform: translateY(-70px);
  opacity: 0;
}
#char6{
  transform: translateY(20px);
  opacity: 0;
}
#char7{
  transform: translateY(-80px);
  opacity: 0;
}
#char8{
  transform: translateY(-90px);
  opacity: 0;
}
#char9{
  transform: translateY(100px);
  opacity: 0;
}
#char10{
  transform: translateY(-50px);
  opacity: 0;
}