@import 'variable';
@import 'mixin';

.about{
      @include fullscreen;
      display: flex;
      flex-direction: row;
      margin-top: 30vh;
      &_img{
      height: 100%;
      width: 50vw;
      overflow: hidden;
      transform: translateY(350px);
      
      & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      }
    }
    .about_text{
      transform: translate(100px, 150px);
      width: 500px;
    }
    .about .rotating_box{
      transform: translate(300px, -100px);
    }
    .about_body{
      font-weight: 800;
      color: $text-color;
    }